<footer class="footer">
    <div class="footer_container">
        <div class="footer_container_links">
            <ul>
                <li>POWER MAX Kft.</li>
                <li onclick="redirect( '{{ path('admin_login') }}' )"><a>Bejelentkezés</a></li>
            </ul>
            <ul>
                <li>Rólunk</li>
                <li><a href="{{ path('ceginfo') }}">Céginformáció</a></li>
                <!--<li><a href="">Impresszum</a></li>
                <li><a href="">Történetünk</a></li>
                <li><a href="">Csapatunk</a></li>-->
            </ul>
            <ul>
                <li>Dokumentumok</li>
                <li><a href="{{ path('jogi-nyilatkozat') }}">Jogi nyilatkozat</a></li>
                <li><a href="{{ path('adatvedelmi-tajekoztato') }}">Adatvédelmi tájékoztató</a></li>
                <li><a href="{{ path('sutik') }}">Sütik kezelése</a></li>
            </ul>
            <ul>
                <li>Elérhetőségek</li>
                <li>+36 20 599 6520</li>
                <li><a href="mailto:info@prealphouse.hu">info@prealphouse.hu</a></li>
                <li>Munkanapokon 10:00-16:00</li>
                <!--<li class="all"><a href="">Összes elérhetőségünk</a></li>-->
            </ul>
        </div>
        <p class="footer_container_warning">Szerzői jogi védelem alatt álló oldal. A honlapon elhelyezett szöveges és képi anyagok, arculati- és tartalmi elemek (pl. betűtípusok, gombok, linkek, ikonok, szövegek, képek, grafika, logo stb.) felhasználása, másolása, terjesztése, továbbítása - akár részben, vagy egészben - kizárólag írásos beleegyezéssel lehetséges.</p>
    </div>
    <div class="footer_bottom_container">
        <p class="copyright container_max_width">© Copyright prealphouse.hu, minden jog fenntartva: POWER MAX Kft.</p>
        <p class="copyright container_min_width">© Copyright prealphouse.hu</p>
        <div class="bottom_container_right">
            <a class="facebook">Facebook</a>
            <a class="mobile">Mobil nézet</a>
            <a class="footer_pagetop"><svg aria-hidden="true" focusable="false" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" ><path fill="currentColor" d="M8 256C8 119 119 8 256 8s248 111 248 248-111 248-248 248S8 393 8 256zm231-113.9L103.5 277.6c-9.4 9.4-9.4 24.6 0 33.9l17 17c9.4 9.4 24.6 9.4 33.9 0L256 226.9l101.6 101.6c9.4 9.4 24.6 9.4 33.9 0l17-17c9.4-9.4 9.4-24.6 0-33.9L273 142.1c-9.4-9.4-24.6-9.4-34 0z" class=""></path></svg></a>
        </div>
    </div>
</footer>